.container  {
    width: 80%;
    background-color: rgba(255, 255, 255, 0.151);;
    border-radius: 5px;
    font-size: 0.8em;
    min-height: 3em;
    word-wrap: break-word;
    height: fit-content;
    box-sizing: border-box;
    padding: 3px;
    margin-bottom: 10px;
    color: #fff;
}

.active {
    float: right;
}

.me{
    float: right;
}