.container {
    background-color: rgba(255, 255, 255, 0.151);
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    width: 49%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.messages {
    overflow-y: scroll;
}

.addMessage {
    box-sizing: border-box;
    width: 100%;
}

.addMessage form {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px 10px 10px 10px;
    background-color: rgba(255, 255, 255, 0.151);
    border-radius: 5px;
}


.addMessage form textarea {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 0.8em;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.151);
    resize: none;
    border-radius: 5px;
    border: none;
    width: 83%;
    height: 50px;
} 

.Button {
    margin: auto 0 auto 0;
    height: 35px; 
    width: 13.5%; 
}

.Button :hover{
    background-color: rgba(255, 255, 255, 0.476);
}

.Button button {
    margin: 0;
    border: none;
    outline: none;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.151);
    border-radius: 5px;
    height: 100%;
    width: 100%;
    cursor: pointer;
}