.link :hover {
    background-color: rgba(255, 255, 255, 0.151);
    border-radius: 5px;
}

.wrapper :hover {
    background-color: rgba(255, 255, 255, 0);
}

.wrapper {
    height: 100%;
    display: flex;
    align-items: сenter;
    margin-bottom: 5px;
    padding: 5px;
}

.wrapper img {
    display: block;
    margin-right: 10px;
}

.active .wrapper{
    background-color: aqua;
}

.text {
    width: 100%;
    margin-left: 5px;
}