.container {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.151);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
}

.Button {
    margin: 10px 0 auto 0;
    height: 30px; 
    width: 100%;
}

.Button :hover {
    background-color: rgba(255, 255, 255, 0.367);
}

.Button button {
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.151);
    border-radius: 5px;
    height: 100%;
    width: 100%;
}

.avatar {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.151);
    display: flex;
}

.avatar img {
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.151);
    margin: auto;
    object-fit: cover;
}

.info {
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px;
}


.location {
    display: flex;
    align-content: center;
}

.citi p{
    display: block;
    margin: auto;
}