.container {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.151);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
    min-width: fit-content;
}

.left {
    width: 10%;
    min-width: fit-content;
}

.avatar {
    width: 100%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.151);
    display: flex;
    cursor: pointer;
    position: relative;
    padding-bottom: 100%;
}

.avatar img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    height: 85%;
    width: 85%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.151);
    margin: auto;
    object-fit: cover;
}

.Button {
    margin: 10px 0 auto 0;
    width: 100%;
}

.Button :hover {
    background-color: rgba(255, 255, 255, 0.367);
}

.Button button {
    font-size: calc(11px + 5 * 100vw / 1280);
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.151);
    border-radius: 5px;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 5px;
}

.Button button:disabled {
    color: #274a55;
}

.info {
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px;
}

.info p {
    font-size: calc(11px + 5 * 100vw / 1280);
}

.info h2 {
    font-size: calc(16px + 14 * 100vw / 1280);
    margin: 0;
    word-wrap: break-word;
    word-break: break-all;
}

@media (max-width: 767px) {
    .info h2 {
        font-size: calc(16px +  1.7 * 14 * (100vw - 320px) / 1280);
    }

    .info p, .Button button {
        font-size: calc(11px + 1.7 * 5 * (100vw - 320px) / 1280);
    }
}