.preloader {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: #274a55;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preloader__row {
    display: inline-block;
    animation: preloader-rotate 2s infinite linear;
    margin: auto 0 auto 0;
}

.preloader__item {
    border: solid 10px #fff;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
    animation-delay: -1s
}

@keyframes preloader-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes preloader-bounce {
    0%,
    100% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
}