.container {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.151);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    height: fit-content;
    width: 100%;
    max-width: 100%;
    padding: 10px;
}

@media (max-width: 900px) {
    .container {
        flex-wrap: wrap;
    }
}

.photo {
    position: relative;
    padding: 0 0 30% 0;
    height: 0;
    background-color: rgba(255, 255, 255, 0.151);
    color: #fff;
    border-radius: 5px;
    width: 40%;
    box-sizing: border-box;
    overflow: hidden;
}

@media (max-width: 900px) {
    .photo {
        padding: 0 0 70% 0;
        width: 100%;
    }
}

.photo img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    max-width: 100%;
    border-radius: 2.5px;
}

.noPhoto {
    object-position: 50% 10%;

}

.info {
    color: #fff;
    width: 58%;
    display: flex;
    flex-direction: column;
    align-self: stretch;
}

@media (max-width: 900px) {
    .info {
        width: 100%;
    }
}

.info ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

.info ul li {
    margin-bottom: 10px;
}

.info ul li:first-child {
    margin-bottom: 20px;
}

.contacts {
    height: fit-content;
    display: flex;
    margin-top: auto;
    align-self: flex-end;
}

@media (max-width: 900px) {
    .contacts {
        align-self: flex-start;
    }
}