.App {
  width: 100%;
  min-height: 99.79vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.bodyWrapper {
  height: 100%;
  max-width: 1200px;
  width: 77%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

@media (max-width: 1200px) {
  .bodyWrapper{
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .bodyWrapper{
    max-width: 750px;
  }
}

.contentWrapper {
  margin: 0;
  width: 87%;
}

@media (max-width: 767px) {
  .bodyWrapper{
    max-width: none;
    width: calc(100% - 20px);
  }

  .sidebar {
    display: none;
  }

  .contentWrapper {
    width: 100%;
  }
}