.wrapper {
    display: flex;
    margin: 10px;
    border-radius: 5px;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.151);
}

.avatar {
    background-color: rgba(255, 255, 255, 0.151);
    margin: auto 0 auto 10px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display:flex;
    align-items:center;
    justify-content: center;
}

.avatar img{
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.info {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px 0 10px 10px;
}

.info p{
    margin: 0;
    padding: 0;
}

p:last-child {
    font-size: 0.8em;
}