.auth {
    display: flex;
    margin-left: auto;
}

.avatar{
    background-color: rgba(255, 255, 255, 0.151);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display:flex;
    align-items:center;
    justify-content: center;
    margin-right: 10px;
}
  
.avatar img {
    
    display: block;
    object-fit: cover;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
  
.auth p {
    margin: 0;
    font-size: 0.8em;
    display: block;
}
  
.auth p:last-child {
    font-size: 0.6em;
    margin-top: 5px;
}

.auth div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    margin: 0 10px;
}

.auth div:last-child button {
    margin: 0;
    padding: 0 10px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.151);
    color: #fff;
    border: none;
    border-radius: 5px;
    height: 25px;
}

.auth div:last-child button:hover {
    background-color: rgba(255, 255, 255, 0.557);
}